importFrom(graphics, hist, lines, mtext, par, plot)

importFrom(grDevices, dev.off, pdf)

importFrom(stats, predict, quantile, smooth.spline)

importFrom(tcltk, tclvalue, "tclvalue<-", tclVar, tkbutton,
           tkcheckbutton, tkconfigure, tkdestroy, tkentry, tkframe,
           tkgetOpenFile, tkgetSaveFile, tkgrid, tkinsert, tklabel,
           tkpack, tkradiobutton, tkscrollbar, tkset, tktext,
           tktoplevel, tkwm.focusmodel, tkwm.title, tkyview)

export(plot.qvalue, qplot, qsummary, qvalue, qvalue.gui, qwrite, summary.qvalue)
